.weatherContainer{
    display: inline-block;
    border-right:1px solid black;
    line-height: 5%;
    padding-left:0.1%;
}
.weatherImage{
    width:2rem;
    margin:0;
}
.weatherp{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom:-10%;
    margin-top:-4.5%
    
}