.headerContainer{
    border-bottom: 1px solid black;
    background-color: rgb(250, 124, 6);
    display:flex;
    justify-content: space-between;
    height:3.5rem;
    font-family: 'Overpass', sans-serif;
}
.headerText{
    margin-top:0.8%;
    text-align: center;
    font-size:2.5rem;
    z-index: 1;
}