.weatherToggle{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
}

.umbrellaToggler{
    width:27px;
    height:27px;
    border:1px solid black;
    background-color: black;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}
@media only screen and (max-width: 600px) {
    .weatherToggle{

    }
  }
   