.ImagesContainer{
    max-width:26rem;
    min-width:20rem;
    display:flex;
    justify-content: center;
    align-items: center;
    margin:8px;
    border-radius:4px;
    padding:0;
}
.ImagesContainer:hover .photo{
    transition: .5s ease;
    opacity:0.3;
}
.ImagesContainer:hover .middle{
    opacity: 1;
}
.photo{
    max-width:26rem;
    min-width:20rem;
    height:auto;
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    text-align: center;
    z-index:1;
  }