.searchText{
    font-size: 800%;
    font-weight: 800;
    border-radius:4px;
    display:block;
}
.searchText p{
    display:inline-block;
    background-color: white;
    margin-top:-2%;
}

.G1{
    color:#4688F4;
}
.O1{
    color:#EA4335;
}
.O2{
    color:#FBBC05;
}
.G2{
    color:#4688F4;
}
.L{
    color:#34A853;
}
.E{
    color:#EA4335;
}
.inputContainer{
    width:22rem;
}
.serchInput{
    width:78%;
    border-radius:4;
    height:1rem;
    margin-top:1%
}

.myButton {
	background-color:#fa7c06;
	border-radius:28px;
	border:1px solid #c2762e;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:10px;
	font-weight:bold;
	padding:9px 16px;
	text-decoration:none;
    text-shadow:0px -2px 0px #c97a30;
    width:9%;
    height:0.2rem;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    margin-top:1%
}
.myButton:hover {
	background-color:#de7f25;
}
.myButton:active {
	position:relative;
	top:1px;
}

    
