.newsHeader{
    text-align:center;
    border-bottom:1px solid white;
    font-size:280%;
    margin-top:-10%;
}
.newsSide{
    width:20vw;
    border-left:1px solid white;
    background-color: black;
    color:white;
    font-size:80%;
    overflow:auto;
    height:92.5vh;
    padding:0;
    font-family: Helvetica, sans-serif;
}

.articlesMap{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
}